body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.topbar { /*styling for title bar at top of page*/
  height: 80px;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: seagreen;
  padding-top: 10px;
}

#mainTitle { /*styling for title text in top bar*/
  margin-left: 220px;
}

.sidebar { /*styling for the side bar where all of the options are customized*/
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: grey;
  overflow-x: hidden;
  padding-top: 30px;
}

.sidebar h2 { /*sidebar input titles*/
  color: peachpuff;
  margin-bottom: 5px;
}
.sidebar p {
  color: plum;
  margin-top: 5px;
}

.sidebar > * { /*change styling for elements in sidebar*/
  padding-left: 20px;
  padding-right: 20px;
}

#options h5 { /*change styling for elements in the options form*/
  color: pink;
  font-size: 12px;
  margin: 0px;
  padding: 5px;
}

@keyframes pulse { /*parameters for pulse animation when input box isn't filled in*/
  0% { opacity: 1; }
  50% { opacity: 0.1; }
  100% { opacity: 1; }
}

.incomplete { /*class to be added to input box if not filled in*/
  border-color: red;
  animation: pulse 1s linear 1s 2;
}

#generate, #reset { /*styling for buttons on sidebar*/
  padding-left: 5px;
  margin-left: 30px;
  margin-top: 10px;
}

.chart { /*styling for main chart area*/
  margin-left: 200px;
  padding: 10px 10px;
}