body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.topbar { /*styling for title bar at top of page*/
  height: 80px;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: seagreen;
  padding-top: 10px;
}

#mainTitle { /*styling for title text in top bar*/
  margin-left: 220px;
}

.sidebar { /*styling for the side bar where all of the options are customized*/
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: grey;
  overflow-x: hidden;
  padding-top: 5px;
}

.sidebar h2 { /*sidebar input titles*/
  color: peachpuff;
  margin-bottom: 5px;
  margin-top: 5px;
}

.sidebar > * { /*change styling for elements in sidebar*/
  padding-left: 15px;
}

#options h5 { /*change styling for elements in the options form*/
  color: pink;
  font-size: 12px;
  margin: 0px;
  padding: 5px;
}

.barColours { /*styling for container of colour pickers*/
  margin-bottom: 30px;
  padding-right: 10px;
}

#colourization h5 { /*change styling for elements in the colourization form*/
  color: plum;
  font-size: 15px;
  margin: 0px;
  padding: 5px;
}

#colourization label { /*styling for label for colour pickers*/
  color: pink;
  font-size: 14px;
  margin-left: 5px;
  margin-top: 5px;
  padding: 5px;
  position: relative;
}

#colourization input { /*styling for colour pickers*/
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
  position: static;
}

#generate, #reset { /*styling for buttons on sidebar*/
  padding-left: 5px;
  margin-left: 30px;
  margin-top: 10px;
}

#generate {
  margin-bottom: 30px;
}

#submitColours {
  margin-left: 20px;
  margin-top: 10px;
}

#xAxis { /*styling for the x axis*/
  top: 75%;
  left: 10%;
  width: 60%;
  height: 1px;
  border-top: 1px solid black;
  position: absolute;
}

#yAxis { /*styling for the y axis*/
  top: 5%;
  left: 10%;
  width: 1px;
  height: 70%;
  border-left: 1px solid black;
  position: absolute;
}

.chart { /*styling for main chart area*/
  left: 200px;
  top: 80px;
  position: fixed;
  width: 100%;
  height: 100%;
}

.bars { /*styling for the bars*/
  left: 10%;
  top: 5%;
  width: 60%;
  height: 70%;
  margin-bottom: 50px;
  position: absolute;
}